img {
  height: 50%;
  width: 55%;
  display: block;
  margin: 0 auto;
}
body {
  background-color: #00FFFF;
  font-family:deloise;
  font-size: 20px;
  background-image: url("https://49.media.tumblr.com/8f8843793a5274949c6044bc6224f9cf/tumblr_nlmg4e7Oph1s8tx41o1_500.gif");
  background-repeat: repeat;
   background-size: contain;
}
div {
  text-align: center;
  color: yellow;
}
div{
  border:2px lightblue dotted;
  border-style: dotted;
}

#first {
  font-weight:bold;
}
.x{
  color:#17FFFF;
}

.y{
  color:#FF1745;
}

.z{
  color:#87FF17;
}
.layoutx {
  display: inline;
}

#container_x {
  text-align: center;
  border: 2px blue dotted;
  position:absolute;
  top: 50px;
}

.layout_y {
  border-color: green;
  background-color: orange;
  height: 30px;
}
#container_z {
  border: 0;
}

.layout_z {
  background-color: orange;
  border:0;
  padding:25px;
  /* border: 2px purple ridge; */

}


.thumbs
